.container {
    display: flex;
    flex-direction: column;
    background-color: #fffcf3;

    .aboutSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 12% 0 12%;
        width: calc(100% - 24%);

        .about {
            margin: 0 0 6% 0 !important;
        }

        .section {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: clamp(16px, 2vw, 24px);
            font-family: "overpass";
            color: #333333;
            font-weight: 500;
            border-radius: 12px;
            margin: 12% 0 12% 0;
            width: 100%;
            box-shadow: 0px 10px 15px rgba(#191919, 0.6);

            p {
                font-family: poppins;
                font-size: clamp(14px, 3vw, 26px);
                font-weight: 700;
                color: #333333;
                border-bottom: 2px solid #ff9900;
                margin: 24px 0 24px 0;
            }

            span {
                padding: 0 50px 24px 50px;
            }
        }

        .btnContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fffcf3;

            .btnAbout {
                display: flex;
                font-size: clamp(12px, 1vw, 16px);
                padding: 6px;
            }
        }
    }
}
