.container {
    display: flex;
    flex-direction: column;
    background-color: #fffcf3;

    &.dark-mode {
        background-color: #333333;
    }

    .aboutSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 12% 0 12%;
        width: calc(100% - 24%);

        .about {
            margin: 0 0 6% 0 !important;
        }

        .section {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: clamp(16px, 2vw, 24px);
            font-family: "overpass";
            color: #333333;
            font-weight: 500;
            border-radius: 12px;
            margin: 12% 0 12% 0;
            width: 100%;
            box-shadow:
                inset 0px 0px 0px rgba(25, 25, 25, 0.6),
                inset 0px 0px 0px rgba(245, 245, 245, 0.1),
                2px 2px 8px rgba(25, 25, 25, 0.6),
                -2px -2px 8px rgba(245, 245, 245, 0.08);

            &.dark-mode {
                color: #fffcf3;
                box-shadow:
                    4px 4px 12px rgba(0, 0, 0, 0.8),
                    -4px -4px 12px rgba(255, 255, 255, 0.1);
            }

            p {
                font-family: poppins;
                font-size: clamp(18px, 3vw, 32px);
                font-weight: 700;
                color: #333333;
                border-bottom: 2px solid #ff9900;
                margin: 24px 0 24px 0;

                &.dark-mode {
                    color: #fffcf3;
                }
            }

            span {
                padding: 0 50px 24px 50px;
            }
        }

        .btnContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fffcf3;
            margin: 0 0 24px 0;

            &.dark-mode {
                background-color: #333333;
            }

            .btnAbout {
                display: flex;
                font-size: clamp(12px, 1vw, 16px);
                padding: 6px;
            }
        }
    }
}