<div [ngClass]="{ 'dark-mode': dm.isDark}" id="about" class="container">
  <div class="aboutSection">
    <span [ngClass]="{ 'dark-mode': dm.isDark}" class="headlineText about" data-aos="fade-down" data-aos-duration="1500">{{
      "headlineAbout" | translate
    }}</span>
    <div [ngClass]="{ 'dark-mode': dm.isDark}" class="section" data-aos="fade-down" data-aos-duration="1500">
      <p [ngClass]="{ 'dark-mode': dm.isDark}" >{{ "professionalIntensiveHeadline" | translate }}</p>
      <span>
        {{ "professionalIntensiveText" | translate }}
      </span>
      <div [ngClass]="{ 'dark-mode': dm.isDark}" class="btnContainer">
        <button [ngClass]="{ 'dark-mode': dm.isDark}" class="btn btnAbout" (click)="ss.scrollToElement('message')">
          {{ "contact" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>