<div id="about" class="container">
  <div class="aboutSection">
    <span class="headlineText about" data-aos="fade-down" data-aos-duration="1500">{{
      "headlineAbout" | translate
    }}</span>
    <div class="section" data-aos="fade-down" data-aos-duration="1500">
      <p>{{ "professionalIntensiveHeadline" | translate }}</p>
      <span>
        {{ "professionalIntensiveText" | translate }}
      </span>
      <div class="btnContainer">
        <button class="btn btnAbout">
          {{ "contact" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>