<div [ngClass]="{ 'dark-mode': dm.isDark }" id="about" class="container">
  <div class="aboutSection">
    <span
      [ngClass]="{ 'dark-mode': dm.isDark }"
      class="headlineText"
      data-aos="fade-down"
      data-aos-duration="1500"
      >{{ "headlineAbout" | translate }}</span
    >
    <div
      [ngClass]="{ 'dark-mode': dm.isDark }"
      class="section"
      data-aos="fade-down"
      data-aos-duration="1500"
    >
      <span [innerHTML]="'professionalIntensiveText' | translate">
        
      </span>

      <div class="containerKnowledgeLearning">
        <img src="/assets/ images/etc_images/light.png" alt="" class="icon" />
        <span class="text">{{ "professionalIntensiveText1" | translate }}</span>
      </div>

      <div class="containerKnowledgeLearning">
        <img src="/assets/ images/etc_images/puzzle.png" alt="" class="icon" />
        <span class="text"[innerHTML]="'professionalIntensiveText2' | translate"></span>
      </div>

      <div [ngClass]="{ 'dark-mode': dm.isDark }" class="btnContainer">
        <button
          [ngClass]="{ 'dark-mode': dm.isDark }"
          class="btn btnAbout"
          (click)="ss.scrollToElement('message')"
        >
          {{ "contact" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>