<footer [ngClass]="{ 'dark-mode': dm.isDark }">
    <div class="footerContainer">
      <div class="arrowContainer" (click)="ss.scrollToElement('start')">
        <span [ngClass]="{ 'dark-mode': dm.isDark }">&#11014;</span>
      </div>
      <div [ngClass]="{ 'dark-mode': dm.isDark }" class="copyright">
        © 2024 Frank Sinnigen
        <p>
          <a href="mailto:info@frank-sinnigen.de" target="_blank"
            ><img src="/assets/ images/etc_images/mail.png" alt=""
          /></a>
        </p>
      </div>
    </div>
  </footer>