:host {
    height: 100%;
    width: 100%;
    background-color: #fffcf3;
    z-index: 3;
}

.container {
    display: flex;
    height: 100%;
    background-color: #fffcf3;

    .contactContainer {
        display: flex;
        margin: 50px 100px 32px 100px;
        width: 100%;
        border-radius: 12px;
        z-index: 1;
        box-shadow: 0px 10px 15px rgba(#191919, 0.6);
        background-color: #fffcf3;

        .contactDataContainer {
            display: flex;
            flex-direction: column;
            width: 49%;
            margin: 1% 0 1% 1%;
            border-right: 2px solid #ff9900;

            .headlineTextContakt {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: clamp(36px, 5vw, 58px);
                font-weight: 800;
                font-family: "syne";
                margin: 3% 0;
                color: #333333;
            }

            .contactInformationContainer {
                display: flex;
                width: calc(100% - 6%);
                flex: 1;
                border-radius: 12px;
                margin: 3%;
                box-shadow: 0px 10px 15px rgba(#191919, 0.6);

                .map {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 48%;

                    .legend {
                        display: flex;
                        height: auto;
                        width: 80%;
                    }
                }

                .infoContainer {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 52%;
                    border-radius: 12px;
                    margin: 2%;
                    box-shadow:
                        inset 2px 2px 8px rgba(25, 25, 25, 0.6),
                        inset -2px -2px 8px rgba(245, 245, 245, 0.1);

                    .information {
                        display: flex;
                        justify-content: center;
                        width: 100%;

                        .headlineInformation {
                            border-bottom: 2px solid #ff9900;
                            font-family: "overpass";
                            height: fit-content;
                            color: #333333;
                            font-weight: 700;
                        }

                        .contactInformation {
                            display: flex;
                        }
                    }

                    .address {
                        display: flex;
                        justify-content: center;
                        font-family: "overpass";
                        font-size: clamp(12px, 1.3vw, 38px);
                        color: #333333;
                        font-weight: 600;
                    }
                    .imprint {
                        margin: 20% 0 0 0;
                        cursor: pointer;
                    }
                }
            }

            .socialMedia {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 50px;
                width: calc(100% - 6%);
                margin: 0 3% 0 3%;
                height: 30%;

                .socialContainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }

                a {
                    font-weight: 700;
                    text-decoration: none;
                    color: #333333;
                    width: 50%;
                }
            }
        }

        .contactSendContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin: 6% 0 6% 0;
            height: calc(100% - 20%);

            .formSection {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 5% 0 5%;
                width: calc(100% - 10%);
                height: 100%;
            }
        }
    }
}

/*************************************************************/
/************************   query's   ************************/
/*************************************************************/

@media screen and (max-width: 1050px) {
    .contactContainer {
        flex-direction: column;
        margin: 0 !important;
        border-radius: 0 !important;

        .contactDataContainer {
            position: absolute;
            z-index: 1;
            background-color: #fffcf3;
            width: 94% !important;
            height: 80%;
            top: 6%;
            left: 2%;
            right: 2%;
            border: none !important;
            border-radius: 12px;

            .headlineTextContakt {
                height: 15% !important;
            }

            .contactInformationContainer {
                display: flex;
                width: calc(100% - 6%);
                height: 45% !important;
                margin: 0 3% 0 3% !important;
            }

            .socialMedia {
                width: 100% !important;
                margin: 12% 0 12% 0 !important;

                .socialContainer {
                    height: 60%;
                    width: calc(100% - 40px);
                    margin: 0 20px 0 20px !important;
                }

                .switchButton {
                    display: flex;
                    width: 100%;
                    margin: 0 !important;
                }
            }
        }

        .contactSendContainer {
            position: absolute;
            background-color: #fffcf3;
            border-radius: 12px;
            width: 100% !important;
            height: calc(100% - 200px)!important;
            top: 100px;
            left: 0;
            right: 0;
            bottom: 100px !important;
            margin: 0 !important;
        }

        .formSection {
            position: absolute;
            background-color: #fffcf3;
            flex: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100% !important;
            margin: 0 !important;
        }

        .switchButtonSend {
            width: calc(100% - 10%) !important;
        }
    }

    @keyframes slideIn {
        from {
            transform: translateX(0);
            opacity: 1;
        }
        to {
            transform: translateX(100%);
            opacity: 1;
        }
    }

    @keyframes slideOut {
        from {
            transform: translateX(100%);
            opacity: 1;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .slide-in {
        animation: slideIn 300ms ease-out;
    }

    .slide-out {
        animation: slideOut 300ms ease-in;
    }
}

@media screen and (max-height: 800px) {

    .contactContainer {
        .contactSendContainer {
            height: 76% !important;
            top: 6% !important;
            bottom: 30% !important;
        }
    }

    .contactDataContainer {
        width: 94% !important;
        height: 74% !important;
    } 
}