<div class="container">
  <div class="contactContainer">
    <div
      class="contactDataContainer"
      [ngClass]="ss.active ? 'slide-in' : 'slide-out'"
      *ngIf="!ss.active"
    >
      <div class="headlineTextContakt">
        {{ ls.language()?.headlineContact }}
      </div>
      <div class="contactInformationContainer">
        <div class="map">
          <img src="/assets/ images/etc_images/map.png" class="legend" />
        </div>
        <div class="infoContainer">
          <span class="information">
            <p class="headlineInformation">Frank Sinnigen</p>
          </span>
          <div class="contactInformation">
            <address>
              <p class="address">{{ ls.language()?.address }}</p>
              <p class="address">{{ ls.language()?.email }}</p>
              <p [routerLink]="['/imprint']" class="address imprint">
                {{ ls.language()?.imprint }}
              </p>
            </address>
          </div>
        </div>
      </div>
      <div class="socialMedia">
        <div class="socialContainer">
          <a
            href="https://www.linkedin.com/in/frank-sinnigen/"
            target="_blank"
            class="btn btnSocial"
            >LinkedIn
            <img src="/assets/ images/etc_images/linkedIn.png" />
          </a>

          <a
            href="https://github.com/frank-bcn"
            target="_blank"
            class="btn btnSocial"
          >
            GitHub
            <img src="/assets/ images/skills_images/github.png" />
          </a>
        </div>
        <button
          class="btn switchButton"
          (click)="ss.switch()"
          *ngIf="ss.tapView"
        >
          {{
            ss.active
              ? ls.language()?.changeInfoBtn
              : ls.language()?.changeSendBtn
          }}
        </button>
      </div>
    </div>
    <div class="contactSendContainer">
      <div
        class="formSection"
        [ngClass]="ss.active ? 'slide-in' : 'slide-out'"
        *ngIf="ss.active || !ss.tapView"
      >
        <app-message-form></app-message-form>
      </div>
    </div>
  </div>
</div>