<div [ngClass]="{ 'dark-mode': dm.isDark}" id="start" class="container">
  <div class="arrowContainer" [ngClass]="{ 'hide-arrows': isScrolled }">
    <div [ngClass]="{ 'dark-mode': dm.isDark}" class="arrow"></div>
    <div [ngClass]="{ 'dark-mode': dm.isDark}" class="arrow"></div>
  </div>
  <div class="infoSection">
    <div class="cover">
      <div
        class="coverImg" data-aos="zoom-in" data-aos-duration="1000"
        draggable="false"
        (contextmenu)="cm.preventContextMenu($event)"
      ></div>
    </div>
    <div class="sectionContainer">
      <div [ngClass]="{ 'dark-mode': dm.isDark}" class="textbar" data-aos="zoom-in" data-aos-duration="1500">Frank Sinnigen</div>
      <p [ngClass]="{ 'dark-mode': dm.isDark}" data-aos="zoom-in" data-aos-duration="2000">&lt;p&gt;{{ "slogan" | translate }}&lt;/p&gt;</p>
    </div>
  </div>
</div>