.container {
    display: flex;
    width: calc(100% - 24%);
    height: 100vh;
    background-color: #fffcf3;
    justify-content: center;
    align-items: center;
    padding: 0 12% 0 12%;

    &.dark-mode {
        background-color: #333333;
    }

    .hide-arrows {
        display: none;
    }

    .arrowContainer {
        position: fixed;
        bottom: 10px;
        transform: translateY(-50%);

        .arrow {
            position: relative;
            width: 42px;
            height: 16px;
            opacity: 0;

            &::before,
            &::after {
                content: "";
                width: 21px;
                height: 2px;
                background-color: #333333;
                border-radius: 2px;
                display: inline-block;
            }

            &::before {
                transform: rotate(45deg) translateX(25%);
            }

            &::after {
                transform: rotate(-45deg) translateX(-25%);
            }

            &:nth-child(1) {
                top: -50px;
                opacity: 1;
                animation: arrow2 1s ease 0s infinite;
            }

            &:nth-child(2) {
                top: -25px;
                animation: arrow1 1s ease 0.25s infinite;
            }
        }

        @keyframes arrow1 {
            from {
                opacity: 0;
                top: -25px;
            }

            to {
                opacity: 0;
                top: 0px;
            }

            50% {
                opacity: 1;
            }
        }

        @keyframes arrow2 {
            from {
                opacity: 0;
                top: -35px;
            }

            to {
                opacity: 0;
                top: -10px;
            }

            50% {
                opacity: 1;
            }
        }
        .arrow.dark-mode::before,
        .arrow.dark-mode::after {
            background-color: #fffcf3;
        }
    }

    .arrow.dark-mode::before,
    .arrow.dark-mode::after {
        background-color: #fffcf3;
    }

    .infoSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        border-radius: 12px;

        .cover {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(70% - 2%);
            width: 100%;
            margin: 0;

            .coverImg {
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                max-width: 100%;
                overflow: hidden;

                img {
                    width: 80%;
                    height: auto;
                    object-fit: cover;
                    filter: grayscale(100%) drop-shadow(15px 5px 5px rgba(25, 25, 25, 0.6));
                }
            }
        }

        .sectionContainer {
            display: flex;
            height: 30%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .textbar {
                display: flex;
                flex-wrap: nowrap;
                border-bottom: 3px solid #ff9900;
                margin: 0 0 0 0;
                font-size: clamp(20px, 6vw, 100px);
                font-weight: 800;
                color: #333333;
                text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);

                &.dark-mode {
                    color: #fffcf3;
                    text-shadow: 4px 4px 3px rgba(255, 255, 255, 0.2);
                }
            }
        }
    }

    p {
        display: flex;
        margin: 3% 0 3% 0;
        font-family: poppins;
        font-size: clamp(6px, 2vw, 24px);
        font-weight: 600;
        color: #333333;

        &.dark-mode {
            color: #fffcf3;
        }
    }
}

.separator {
    display: flex;
    align-items: center;
    color: #ff9900;
    margin: 0 5px;
  }

@media screen and (max-width: 530px) {
    .cover {
        margin: 0 0 24px 0 !important;
    }
}