<div id="start" class="container">
  <div class="arrowContainer" [ngClass]="{ 'hide-arrows': isScrolled }">
    <div class="arrow"></div>
    <div class="arrow"></div>
  </div>
  <div class="infoSection">
    <section>
      <div
        draggable="false"
        (contextmenu)="cm.preventContextMenu($event)"
        class="containerImg"
        data-aos="zoom-in"
        data-aos-duration="2000"
      >
      </div>
      <div class="textContainer">
        <div class="headlineText">
          <div class="textbar">Frank Sinnigen</div>
          <p>&lt;p&gt;{{ "slogan" | translate }}&lt;/p&gt;</p>
        </div>
      </div>
    </section>
  </div>
</div>
