.container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #fffcf3;
    justify-content: center;
    align-items: center;

    .hide-arrows {
        display: none;
    }

    .arrowContainer {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateY(-50%);

        .arrow {
            position: relative;
            width: 42px;
            height: 16px;
            opacity: 0;

            &::before,
            &::after {
                content: "";
                width: 21px;
                height: 2px;
                background-color: #333333;
                border-radius: 2px;
                display: inline-block;
            }

            &::before {
                transform: rotate(45deg) translateX(25%);
            }

            &::after {
                transform: rotate(-45deg) translateX(-25%);
            }

            &:nth-child(1) {
                top: -50px;
                opacity: 1;
                animation: arrow2 1s ease 0s infinite;
            }

            &:nth-child(2) {
                top: -25px;
                animation: arrow1 1s ease 0.25s infinite;
            }
        }
        
        @keyframes arrow1 {
            from {
                opacity: 0;
                top: -25px;
            }

            to {
                opacity: 0;
                top: 0px;
            }

            50% {
                opacity: 1;
            }
        }

        @keyframes arrow2 {
            from {
                opacity: 0;
                top: -35px;
            }

            to {
                opacity: 0;
                top: -10px;
            }

            50% {
                opacity: 1;
            }
        }
    }

    .infoSection {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3% 18% 3% 18%;
        border-radius: 12px;
        width: calc(100% - 36%);
        height: calc(100% - 6%);

        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .containerImg {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50%;

                .img {
                    display: flex;
                    height: 80%;
                    padding: 0 0 5% 0;
                    filter: grayscale(100%) drop-shadow(15px 5px 5px rgba(25, 25, 25, 0.6));
                    transform: perspective(500px) rotateY(-5deg);
                    cursor: default;

                    // &:hover {
                    //     filter: none;
                    // }
                }
            }

            .textContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px;
                height: 200px;
                width: calc(100% - 30px);
                border-radius: 12px;
                box-shadow:
                    inset 2px 2px 8px rgba(25, 25, 25, 0.6),
                    inset -2px -2px 8px rgba(245, 245, 245, 0.1);

                .headlineText {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .textbar {
                        display: flex;
                        flex-wrap: nowrap;
                        border-bottom: 3px solid #ff9900;
                        margin: 0 0 0 0;
                        font-size: clamp(14px, 4.5vw, 48px);
                        font-weight: 800;
                        color: #333333;
                        text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
                    }
                }
            }

            p {
                display: flex;
                margin: 3% 0 3% 0;
                font-family: poppins;
                font-size: clamp(9px, 1.5vw, 16px);
                font-weight: 600;
                color: #333333;
            }
        }
    }
}

@media screen and (max-width: 530px) {
    .infoSection {
        margin: 0 12% 0 12% !important;
        width: calc(100% - 24%) !important;
    }
}
