:host {
    height: 100%;
    width: 100%;
    background-color: #fffcf3;
}

.container {
    display: flex;
    height: 100%; 
}

/*************************************************************/
/************************    query's   ***********************/
/*************************************************************/