<div class="container">
  <div class="sectionContainer">
    <div class="menu">
      <span class="headlineText headline">{{ "headline" | translate }}</span>
      <div class="linkContainer">
        <div class="btnContainer">
          <button
            class="btn btnLink"
            (click)="switchSkill('frontend')"
            [ngClass]="{ active: currentSkill === 'frontend' }"
          >
            {{ "btnFrontend" | translate }}
          </button>
          <button
            class="btn btnLink"
            (click)="switchSkill('backend')"
            [ngClass]="{ active: currentSkill === 'backend' }"
          >
            {{ "btnBackend" | translate }}
          </button>
          <button
            class="btn btnLink"
            (click)="switchSkill('extra')"
            [ngClass]="{ active: currentSkill === 'extra' }"
          >
            {{ "btnExtra" | translate }}
          </button>
          <button
            class="btn btnLink"
            (click)="switchSkill('deployment')"
            [ngClass]="{ active: currentSkill === 'deployment' }"
          >
            {{ "btnDeployment" | translate }}
          </button>
          <button
            class="btn btnLink"
            (click)="switchSkill('certificate')"
            [ngClass]="{ active: currentSkill === 'certificate' }"
          >
            {{ "btnCertificate" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="section" [@slideAnimation]="currentSkill">
      <div *ngIf="currentSkill === 'frontend'" class="sliderContainer">
        <app-frontend></app-frontend>
      </div>
      <div *ngIf="currentSkill === 'backend'" class="sliderContainer">
        <app-backend></app-backend>
      </div>
      <div *ngIf="currentSkill === 'extra'" class="sliderContainer">
        <app-extra></app-extra>
      </div>
      <div *ngIf="currentSkill === 'deployment'" class="sliderContainer">
        <app-deployment></app-deployment>
      </div>
      <div *ngIf="currentSkill === 'certificate'" class="sliderContainer">
        <app-certificate></app-certificate>
      </div>
    </div>
  </div>
</div>
