:host {
    width: calc(100% - 8%);
    margin: 4%;
    background-color: #fffcf3;
}

.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 8%);
    height: calc(100% - 4%);
    padding: 4%;
}

.descriptionHeadline {
    display: none;
}

/*************************************************************/
/***********************   Tap Query   ***********************/
/*************************************************************/

@media screen and (max-width: 1050px) {
    ::-webkit-scrollbar {
        display: flex !important;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .descriptionHeadline {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(24px, 3vw, 58px);
        font-weight: 710;
        font-family: "syne";
        color: #333333;
        margin: 0 0 12px 0;
    }
}