<div class="cardWrapper" data-aos="fade-up-left" data-aos-duration="2000">
    <div [ngClass]="{ 'dark-mode': dm.isDark }" class="card">
      <p [ngClass]="{ 'dark-mode': dm.isDark }">
        {{ "headlineDeployment" | translate }}
      </p>
      <span class="headlineIcon">
        <img
          [ngClass]="{ 'dark-mode': dm.isDark }"
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/skills_images/linux.png"
          alt=""
        />
      </span>
      
      <span [innerHTML]="'deploymentDescription' | translate"></span>

      <span class="otherIcon">
        <img
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/skills_images/cloud.png"
        />
        <img
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/skills_images/docker.png"
        />
        <img
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/skills_images/ssh-white.png"
        />
      </span>
    </div>
  </div>