<div [ngClass]="{ 'dark-mode': dm.isDark }" id="project" class="container">
  <div [ngClass]="{ 'dark-mode': dm.isDark }" class="folderTab">
    <span [ngClass]="{ 'dark-mode': dm.isDark }" class="headlineProject">
      <p [ngClass]="{ 'dark-mode': dm.isDark }">
        {{ "headlineProject5" | translate }}
      </p>
      <span class="skillContainer">
        <img
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/skills_images/python.png"
          alt=""
        />
        <img
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/etc_images/bender.png"
          alt=""
        />
        <img
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/etc_images/whatsapp.png"
          alt=""
        />
      </span>
    </span>
  </div>
  <div [ngClass]="{ 'dark-mode': dm.isDark }" class="content">
    <video
      draggable="false"
      (contextmenu)="cm.preventContextMenu($event)"
      id="bot"
      #videoElement
      src="/assets/videos/bot_clean.mp4"
      loop
      muted
      playsinline
      class="videoElement"
    ></video>
    <span class="description">{{ "descriptionProject5" | translate }}</span>

    <div class="btnContainer">
      <button class="btn">
        <a
          [ngClass]="{ 'dark-mode': dm.isDark }"
          draggable="false"
          href="https://github.com/frank-bcn/WhatsApp-bot"
          target="_blank"
          >GitHub
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/github.png"
          />
        </a>
      </button>
    </div>
  </div>
</div>