<div [ngClass]="{ 'dark-mode': dm.isDark }" id="certificate" class="container">
  <span
    [ngClass]="{ 'dark-mode': dm.isDark }"
    class="headlineText about"
    data-aos="fade-down"
    data-aos-duration="1500"
    >{{ "headlineCertificate" | translate }}</span
  >
  <div class="sliderContainer">
    <div class="slider">
      <div
        *ngFor="let certificate of certificates; let i = index"
        class="slide"
        [class.active]="i === currentSlide"
        draggable="false"
        (contextmenu)="cm.preventContextMenu($event)"
      >
        <img [src]="certificate" alt="Certificate {{ i + 1 }}" />
      </div>
      <button class="navBtn prev" (click)="prevSlide()">&lt;</button>
      <button class="navBtn next" (click)="nextSlide()">&gt;</button>
    </div>
    <div class="dots">
      <span
        *ngFor="let certificate of certificates; let i = index"
        class="dot"
        [class.active]="i === currentSlide"
        (click)="goToSlide(i)"
      ></span>
    </div>
  </div>
</div>
