<div class="container">
  <div class="contentProject">
    <span class="headlineText headlineProjects">{{
      ls.getCurrentLanguage()?.headlineProject2
    }}</span>
    <div class="imgContainer">
      <div class="imageRotator">
        <div>
          <span>
            <img src="/assets/ images/skills_images/html-color.png"/>
            <img src="/assets/ images/skills_images/js-color.png"/>
            <img src="/assets/ images/skills_images/css-color.png"/>
          </span>
        </div>
      </div>
    </div>
    <span class="description">{{
      ls.getCurrentLanguage()?.descriptionProject2
    }}</span>
    <div class="linkSection">
      <a
        href="https://github.com/frank-bcn/El-Pollo-Loco"
        target="_blank"
        class="btn btnProject"
        >GitHub
        <img src="/assets/ images/skills_images/github.png" />
      </a>

      <a
        href="https://el-pollo.frank-sinnigen.de/index.html"
        target="_blank"
        class="btn btnProject"
      >
        Live
        <img src="/assets/ images/etc_images/live.png" />
      </a>
    </div>
  </div>
</div>
