<div class="container">
  <div class="contentProject">
    <header>
      <span class="headlineTextProj headlineProjects">{{
        ls.language()?.headlineProject2
      }}</span>
      <span class="projIcon">
        <img draggable="false" src="/assets/ images/skills_images/html.png" />
        <img draggable="false" src="/assets/ images/skills_images/js.png" />
        <img draggable="false" src="/assets/ images/skills_images/css.png" />
      </span>
    </header>
    <div class="sectionProject">
      <img
        draggable="false"
        src="/assets/ images/etc_images/pollo-loco.png"
        class="projImg"
      />
      <span class="description">{{ ls.language()?.descriptionProject2 }}</span>
    </div>
    <div class="linkSection">
      <a
        draggable="false"
        href="https://github.com/frank-bcn/El-Pollo-Loco"
        target="_blank"
        class="btn btnProject"
        >GitHub
        <img draggable="false" src="/assets/ images/skills_images/github.png" />
      </a>

      <a
        draggable="false"
        href="https://el-pollo.frank-sinnigen.de/index.html"
        target="_blank"
        class="btn btnProject"
      >
        Live
        <img draggable="false" src="/assets/ images/etc_images/live.png" />
      </a>
    </div>
  </div>
</div>
