<div class="container">
  <div class="contentProject">
    <header>
      <span class="headlineTextProj headlineProjects">{{ "headlineProject2" | translate }}</span>
    </header>
    <div class="sectionProject">
      <img
        draggable="false"
        (contextmenu)="ss.preventContextMenu($event)"
        src="/assets/ images/etc_images/pollo-loco.png"
        class="projImg"
      />
      <span class="projIcon">
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/html.png"
        />
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/js.png"
        />
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/css.png"
        />
      </span>
      <span class="description">{{ "descriptionProject2" | translate }}</span>
    </div>
    <div class="linkSection">
      <a
        draggable="false"
        href="https://github.com/frank-bcn/El-Pollo-Loco"
        target="_blank"
        class="btn btnProject"
        >GitHub
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/github.png"
        />
      </a>

      <a
        draggable="false"
        href="https://el-pollo.frank-sinnigen.de/index.html"
        target="_blank"
        class="btn btnProject"
      >
        Live
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/etc_images/live.png"
        />
      </a>
    </div>
  </div>
</div>