<div class="container">
  <div class="contentProject">
    <header>
      <span class="headlineTextProj headlineProjects">{{
        ls.language()?.headlineProject1
      }}</span>
      <span class="projIcon">
        <img src="/assets/ images/skills_images/angular.png" />
        <img src="/assets/ images/skills_images/api.png" />
        <img src="/assets/ images/skills_images/typescript.png" />
      </span>
    </header>
    <div class="sectionProject">
      
      <img src="/assets/ images/etc_images/pokemon.png" class="projImg" />
      <span class="description">{{ ls.language()?.descriptionProject1 }}</span>
    </div>
    <div class="linkSection">
      <a
        href="https://github.com/frank-bcn/Pokedex"
        target="_blank"
        class="btn btnProject"
        >GitHub
        <img src="/assets/ images/skills_images/github.png" />
      </a>

      <a
        href="https://pokedex.frank-sinnigen.de/"
        target="_blank"
        class="btn btnProject"
      >
        Live
        <img src="/assets/ images/etc_images/live.png" />
      </a>
    </div>
  </div>
</div>