<div class="container">
  <div class="contentProject">
    <span class="headlineTextProj headlineProjects">{{
      ls.language()?.headlineProject1
    }}</span>
    <div class="sectionProject">
      <div class="imgContainer">
        <div class="frame">
          <img src="/assets/ images/etc_images/pollo-loco.png" />
          <div class="skillDetails">
            <span class="iconContainer">
              <img src="/assets/ images/skills_images/html.png" />
              <img src="/assets/ images/skills_images/js.png" />
              <img src="/assets/ images/skills_images/css.png" />
            </span>
          </div>
        </div>
      </div>
      <span class="description">{{ ls.language()?.descriptionProject1 }}</span>
    </div>
    <div class="linkSection">
      <a
        href="https://github.com/frank-bcn/El-Pollo-Loco"
        target="_blank"
        class="btn btnProject"
        >GitHub
        <img src="/assets/ images/skills_images/github.png" />
      </a>

      <a
        href="https://el-pollo.frank-sinnigen.de/index.html"
        target="_blank"
        class="btn btnProject"
      >
        Live
        <img src="/assets/ images/etc_images/live.png" />
      </a>
    </div>
  </div>
</div>