:host {
    height: 100%;
    width: 100%;
    background-color: #fffcf3;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .headlineProjects {
        display: flex;
        justify-content: start;
        margin: 25px 0 25px 25px;
    }

    .sectionProject {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .imgContainer {
        display: flex;
        justify-content: end;
        width: calc(100% - 20%);
        height: 40%;
        margin: 0 10% 6% 10%;
        cursor: pointer;

        .frame {
            text-align: center;
            position: relative;
            width: 100%;
            perspective: 500px;

            img {
                display: flex;
                margin: 0 0 0 0;
                width: 100%;
                height: 100%;
            }
        }

        .skillDetails {
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%; 
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotateY(90deg);
            transform-origin: 50%;
            background: rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: all 0.4s ease-in;

            img {
                width: 50px;
            }
        }

        .iconContainer {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }

        .frame:hover .skillDetails {
            transform: translate(-50%, -50%) rotateY(0deg);
            opacity: 1;
        }
    }

    .contentIcon {
        display: flex;

        img {
            height: 25px;
        }
    }

    .description {
        display: flex;
        margin: 0 25px 0 25px;
        flex: 1;
        font-size: clamp(16px, 1.5vw, 24px);
    }

    .linkSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 24%);
        margin: 0 12% 0 12%;
    }
}

/*************************************************************/
/************************   query's   ************************/
/*************************************************************/

@media screen and (max-width: 1050px) {

    .headlineTextProj {
        width: 40%;
    }

    .imgContainer {
        display: flex;
        justify-content: center;
        width: 50% !important;
        height: 40% !important;
        margin: 0 0 3% 0 !important;

        .frame {
            transform: translate(50%, 0);

            img {
                display: flex;
                margin: 0 0 0 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}