<div [ngClass]="{ 'dark-mode': dm.isDark }" id="project" class="container">
  <div [ngClass]="{ 'dark-mode': dm.isDark }" class="folderTab">
    <span [ngClass]="{ 'dark-mode': dm.isDark }" class="headlineProject">
      <p [ngClass]="{ 'dark-mode': dm.isDark }">
        {{ "headlineProject4" | translate }}
      </p>
      <span class="skillContainer">
        <img
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/skills_images/angular.png"
          alt=""
        />
        <img
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/skills_images/django.png"
          alt=""
        />
        <img
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/skills_images/docker.png"
          alt=""
        />
        <img
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/skills_images/redis.png"
          alt=""
        />
      </span>
    </span>
  </div>
  <div [ngClass]="{ 'dark-mode': dm.isDark }" class="content">
    <img
      draggable="false"
      (contextmenu)="cm.preventContextMenu($event)"
      src="/assets/ images/etc_images/streamify.png"
      style="height: 300px"
    />
    <!-- <video
     draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
        id="streamify"
        #videoElement
        src=""
        loop
        muted
        playsinline
        class="videoElement"
      ></video> -->
    <span class="description">{{ "descriptionProject4" | translate }}</span>

    <div class="btnContainer">
      <button class="btn">
        <a
          [ngClass]="{ 'dark-mode': dm.isDark }"
          draggable="false"
          href="https://github.com/frank-bcn/Join"
          target="_blank"
          >GitHub
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/github.png"
          />
        </a>
      </button>
      <button class="btn">
        <a
          [ngClass]="{ 'dark-mode': dm.isDark }"
          draggable="false"
          href="https://join.frank-sinnigen.de/index/index.html"
          target="_blank"
        >
          Live
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/etc_images/live.png"
          />
        </a>
      </button>
    </div>
  </div>
</div>
