.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 12% 0 12% 0;
  background-color: #fffcf3;

  &.dark-mode {
    background-color: #333333;
  }

  .folderTab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #333333;
    border-radius: 6px 6px 0 0;
    font-weight: bold;
    color: #fffcf3;
    font-family: "overpass";
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    &.dark-mode {
      background-color: #fffcf3;
      color: #333333;
    }

    .skillContainer {
      display: flex;
      align-items: center;

      img {
        height: 30px;
      }
    }

    p {
      border-bottom: 2px solid #ff9900;
      font-size: clamp(10px, 1vw, 24px);
    }

    img {
      height: 30px;
      padding: 0 24px 0 0;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: auto;
    font-family: "overpass";
    color: #333333;
    font-weight: 500;
    background-color: #fffcf3;
    border-radius: 0 0 12px 12px;
    padding: 20px;
    box-shadow:
      2px 2px 8px rgba(25, 25, 25, 0.6),
      -2px -2px 8px rgba(245, 245, 245, 0.08);

    &.dark-mode {
      color: #fffcf3;
      background-color: #333333;
      box-shadow:
        4px 4px 12px rgba(0, 0, 0, 0.8),
        -4px -4px 12px rgba(255, 255, 255, 0.1);
    }

    img {
      display: flex;
      aspect-ratio: 16 / 9;
      height: 150px;
    }

    .videoElement {
      width: 50%;
      height: 50%;
      border-radius: 12px;
      box-shadow: 2px 2px 8px rgba(25, 25, 25, 0.6);
    }

    .description {
      display: flex;
      margin: 24px 0 24px 0;
      font-family: "overpass";
      font-size: 17px;
    }

    .btnContainer {
      display: flex;
      justify-content: space-around;
      width: 100%;
      border-radius: 12px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 30%;
        height: 50%;
        margin: 0;

        a {
          display: flex;
          height: 100%;
          width: 100%;
          align-items: center;
          justify-content: space-around;
          text-decoration: none;
          color: #333333;
          font-size: clamp(6px, 1vw, 18px);

          &.dark-mode {
            color: #fffcf3;
          }

          img {
            height: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .skillContainer {
    img {
      height: 15px !important;
    }
  }

  button {
    a {
      img {
        height: 15px !important;
      }
    }
  }

  .videoElement {
    width: 100% !important;
    border-radius: 4px !important;
  }
}