.container {
    display: flex;
    flex-direction: column;
    background-color: #fffcf3;
    padding: 6% 12% 0 12%;
    overflow: hidden;

    &.dark-mode {
        background-color: #333333;
    }
}
