<div class="container">
  <div class="sectionContainer">
    <div class="menu">
      <span class="headlineText headline">{{ "headline" | translate }}</span>
      <div class="linkContainer">
        <div class="btnContainer">
          <button
            class="btn btnLink"
            (click)="switchProject('project1')"
            [ngClass]="{ active: currentProject === 'project1' }"
          >
            {{ "btnProject1" | translate }}
          </button>
          <button
            class="btn btnLink"
            (click)="switchProject('project2')"
            [ngClass]="{ active: currentProject === 'project2' }"
          >
            {{ "btnProject2" | translate }}
          </button>
          <button
            class="btn btnLink"
            (click)="switchProject('project3')"
            [ngClass]="{ active: currentProject === 'project3' }"
          >
            {{ "btnProject3" | translate }}
          </button>
          <button
            class="btn btnLink"
            (click)="switchProject('project4')"
            [ngClass]="{ active: currentProject === 'project4' }"
          >
            {{ "btnProject4" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="section" [@slideAnimation]="currentProject">
      <div *ngIf="currentProject === 'project1'" class="sliderContainer">
        <app-project-pokedex></app-project-pokedex>
      </div>
      <div *ngIf="currentProject === 'project2'" class="sliderContainer">
        <app-project-pollo></app-project-pollo>
      </div>
      <div *ngIf="currentProject === 'project3'" class="sliderContainer">
        <app-project-join></app-project-join>
      </div>
      <div *ngIf="currentProject === 'project4'" class="sliderContainer">
        <app-project-netflix-clone></app-project-netflix-clone>
      </div>
    </div>
  </div>
</div>
