<div class="container">
  <div class="sectionContainer">
    <div class="menu">
      <span class="headlineText headline">{{
        ls.language()?.headline
      }}</span>
      <div class="btnContainerProj">
        <button
          class="btn btnSkill"
          (click)="switchProject('project1')"
          [ngClass]="{ active: currentProject === 'project1' }"
        >
          {{ ls.language()?.btnProject1 }}
        </button>
        <button
          class="btn btnSkill"
          (click)="switchProject('project2')"
          [ngClass]="{ active: currentProject === 'project2' }"
        >
          {{ ls.language()?.btnProject2 }}
        </button>
        <button
          class="btn btnSkill"
          (click)="switchProject('project3')"
          [ngClass]="{ active: currentProject === 'project3' }"
        >
          {{ ls.language()?.btnProject3 }}
        </button>
        <button
          class="btn btnSkill"
          (click)="switchProject('project4')"
          [ngClass]="{ active: currentProject === 'project4' }"
        >
          {{ ls.language()?.btnProject4 }}
        </button>
        <button
          class="btn btnSkill"
          (click)="switchProject('project5')"
          [ngClass]="{ active: currentProject === 'project5' }"
        >
          {{ ls.language()?.btnProject5 }}
        </button>
      </div>
      <div class="scrolldown" *ngIf="shouldDisplayScrolldown()">
        <span class="scrolldownContainer">&#10170;</span><!--&#x2193;-->
      </div>
    </div>
    <div class="section" [@slideAnimation]="currentProject">
      <div *ngIf="currentProject === 'project1'" class="sliderContainer">
        <app-project-pokedex></app-project-pokedex>
      </div>
      <div *ngIf="currentProject === 'project2'" class="sliderContainer">
        <app-project-pollo></app-project-pollo>
      </div>
      <div *ngIf="currentProject === 'project3'" class="sliderContainer">
        <app-project-join></app-project-join>
      </div>
      <div *ngIf="currentProject === 'project4'" class="sliderContainer">
        <!--New App -->
      </div>
      <div *ngIf="currentProject === 'project5'" class="sliderContainer">
        <!--New App -->
      </div>
    </div>
  </div>
</div>
