<div class="container">
  <div class="imageContainer">
    <img
      draggable="false"
      (contextmenu)="ss.preventContextMenu($event)"
      src="/assets/ images/etc_images/about.png"
    />
  </div>
  <div class="aboutSection">
    <span class="headlineText">{{ "headlineAbout" | translate }}</span>
    <div class="section">
      <p>{{ "professionalIntensiveHeadline" | translate }}</p>
      <span>
        {{ "professionalIntensiveText" | translate }}
      </span>
    </div>
    <div class="btnContainer">
      <button (click)="navigateToContact()" class="btn btnAbout">
        {{ "btn" | translate }}
      </button>
    </div>
  </div>
</div>
