<div class="container">
  <div class="imageContainer">
    <img src="/assets/ images/etc_images/about.png" />
  </div>
  <div class="aboutSection">
    <span class="headlineText">{{ ls.language()?.headlineAbout }}</span>
    <!-- <div class="section">
      <p>{{ ls.language()?.professionalCareerHeadline}}</p>
      <span
        >{{ ls.language()?.professionalCareerText}}
      </span>
    </div> -->
    <div class="section">
      <p>{{ ls.language()?.professionalIntensiveHeadline }}</p>
      <span>
        {{ ls.language()?.professionalIntensiveText }}
      </span>
    </div>
    <div class="btnContainer">
      <button [routerLink]="['/contact']" class="btn btnAbout">{{ ls.language()?.btn }}</button>
    </div>
  </div>
</div>