:host {
    flex: 1;
    width: 100vw;
    background-color: #fffcf3;
}

.container {
    display: flex;
    height: calc(100% - 100px);
    width: 100%;

    .infoSection {
        display: flex;
        justify-content: center;
        align-items: end;
        width: 60%;
        height: 100%;

        .containerText {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #333333;
                font-family: Syne;
                font-weight: 800;
                margin: 0 0 2% 0;

                .textContainer {
                    display: flex;

                    .headlineText {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .textbar {
                            display: flex;
                            margin: 3% 0 0 0;
                            font-size: clamp(32px, 6vw, 160px);
                            font-weight: 800;
                            color: #333333;
                            text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
                        }
                    }

                    .barContainer {
                        display: flex;
                        margin: 6% 0 0 0;
                        width: 90%;
                        border-radius: 50px;
                        font-size: clamp(6px, 1.5vw, 16px);
                        height: 25px;
                        box-shadow:
                            inset 5px 5px 15px rgba(#191919, 0.6),
                            inset -5px -5px 15px rgba(#f5f5f5, 0.1),
                            5px 5px 15px rgba(#191919, 0.6),
                            -5px -5px 15px rgba(#f5f5f5, 0.08);

                        .bar {
                            display: flex;
                            align-items: center;
                            justify-content: end;
                            padding: 0 15px 0 0;
                            font-family: poppins;
                            width: 90%;
                            height: 25px;
                            border-radius: 50px;
                            color: #333333;
                            background-color: #f90;
                            box-shadow: inset 0px 0px 15px rgba(25, 25, 25, 0.6);
                        }
                    }
                }
            }

            p {
                display: flex;
                margin: 10% 0 7% 0;
                font-family: poppins;
                font-size: clamp(6px, 2vw, 16px);
                font-weight: 600;
                color: #333333;
            }
        }
    }

    .containerImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100%;

        .img {
            display: flex;
            margin: 100px 0 0 0;
            width: 70%;
            height: 75%;
            filter: grayscale(100%) drop-shadow(15px 5px 5px rgba(25, 25, 25, 0.6));
            transform: perspective(500px) rotateY(-5deg);
            cursor: default;
        
            &:hover {
                filter: none;
            }
        }
    }
}

/*************************************************************/
/************************   query's   ************************/
/*************************************************************/

@media screen and (max-width: 1050px) {
    .container {
        flex-direction: column;  
        justify-content: center;
        align-items: center;
    }
    
    .containerImg {
        justify-content: end !important;
        order: 1;
        width: 100% !important;
        height: auto !important;

        .img {
            position: relative;
            margin: 3% 10% 0 0 !important;
            width: 33% !important;
            height: 70% !important;
            transform: perspective(500px) rotateY(-10deg) !important;
        }
    }

    .infoSection {
        display: flex;
        flex-direction: column;
        order: 2;
        width: 100% !important;

        .text {
            margin: 0 0 16% 0 !important;
        }

        .textbar {
            display: flex;
            margin: 3% 0 0 0;
            font-size: clamp(32px, 10vw, 160px) !important;
            font-weight: 800;
            color: #333333;
            text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
        }

        .barContainer {
            font-size: clamp(6px, 2vw, 14px) !important;
        }

        p {
            font-size: clamp(6px, 2vw, 14px) !important;
            margin: 6% 0 6% 0 !important;
        }
    }
}