<div class="container">
  <div class="language"></div>
  <div class="infoSection">
    <section>
      <div class="text">
        <div class="containerImg">
          <img draggable="false" class="img" src="/assets/ images/etc_images/background.png" />
        </div>
        <div class="textContainer">
          <div class="headlineText">
            <div class="textbar">Frank Sinnigen</div>
          </div>
          <p>&lt;p&gt; {{ ls.language()?.slogan }} &lt;/p&gt;</p>
          <button [routerLink]="['/about']" class="btn btnStart">
            {{ ls.language()?.btnText }}
          </button>
        </div>
      </div>
    </section>
  </div>
</div>