<!-- header -->
<header>
  <p
    *ngFor="let language of languages"
    (click)="toggleChange(language.code)"
    [class.selected]="selectedValue === language.code"
  >
    {{ language.name }}
  </p>
</header>
<!-- side-bar -->
<nav [class.open]="isMenuOpen" (click)="toggleMenu()">
  <div class="text">Menu</div>
  <li>
    <span (click)="ss.scrollToElement('start')">{{ "start" | translate }}</span>
  </li>
  <li>
    <span (click)="ss.scrollToElement('about')">{{ "about" | translate }}</span>
  </li>
  <li>
    <span (click)="ss.scrollToElement('skill')">{{ "skill" | translate }}</span>
  </li>
  <li>
    <span (click)="ss.scrollToElement('projects')">{{ "projects" | translate }}</span>
  </li>

  

  
</nav>
<!-- components -->
<app-hero></app-hero>
<app-about></app-about>
<app-skills></app-skills>
<app-projects></app-projects>

























<!-- <div class="a"></div>
<div class="b">
  <h1 data-aos="fade-down-right">hallo</h1>
</div> -->

<!-- <div class="menu-header">Menü</div> <!-- Der Text für das Menü -->
<!-- <ul class="navbar">
    <li><a href="#">{{ "start" | translate }}</a></li>
    <li><a href="#">{{ "about" | translate }}</a></li>
    <li class="drop-down">{{ "skills" | translate }}
      <ul>
        <li><a href="#">frontend</a></li>
        <li><a href="#">backend</a></li>
        <li><a href="#">Extra</a></li>
        <li><a href="#">Deployment</a></li>
        <li><a href="#">zertificate</a></li>
      </ul>
    </li>
    <li class="drop-down">{{ "projects" | translate }}
      <ul>
        <li><a href="#">Pokedex</a></li>
        <li><a href="#">El Pollo loco</a></li>
        <li><a href="#">Join</a></li>
        <li><a href="#">Streamify</a></li>
        <li><a href="#">whatsappbot</a></li>
      </ul>
    </li>
  </ul> -->
