<div class="page">
  <div class="languageContainer">
    <p
      (click)="ls.onToggleChange('1')"
      [class.selected]="ls.selectedValue === '1'"
    >
      ES
    </p>
    <p
      (click)="ls.onToggleChange('2')"
      [class.selected]="ls.selectedValue === '2'"
    >
      EN
    </p>
    <p
      (click)="ls.onToggleChange('3')"
      [class.selected]="ls.selectedValue === '3'"
    >
      DE
    </p>
  </div>
  <div class="contentPage" [@routeAnimation]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"> </router-outlet>
  </div>
  <footer [class.footerWithShadow]="!isStartPage()">
    <div class="headerContainer">
      <button
        *ngIf="!isStartPage()"
        [routerLink]="['/about']"
        routerLinkActive="active"
        class="btn"
      >
        {{ ls.getCurrentLanguage()?.btnAbout }}
      </button>
      <button
        *ngIf="!isStartPage()"
        [routerLink]="['/skills']"
        routerLinkActive="active"
        class="btn"
      >
        {{ ls.getCurrentLanguage()?.btnSkills }}
      </button>
      <button
        *ngIf="!isStartPage()"
        [routerLink]="['/projects']"
        routerLinkActive="active"
        class="btn"
      >
        {{ ls.getCurrentLanguage()?.btnProjects }}
      </button>
      <button
        *ngIf="!isStartPage()"
        [routerLink]="['/contact']"
        routerLinkActive="active"
        class="btn"
      >
        {{ ls.getCurrentLanguage()?.btnConatct }}
      </button>
    </div>
  </footer>
</div>