<div class="page">
  <div class="languageContainer">
    <p
      *ngFor="let language of languages"
      (click)="onToggleChange(language.code)"
      [class.selected]="selectedValue === language.code"
    >
      {{ language.name }}
    </p>
  </div>
  <div class="contentPage" [@routeAnimation]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"> </router-outlet>
  </div>
  <footer>
    <div [class.footerContainer]="!isStartPage()">
      <button
        *ngIf="!isStartPage()"
        [routerLink]="['/about']"
        routerLinkActive="active"
        class="btn btnMediaQuerie"
      >
        {{ "btnAbout" | translate }}
      </button>
      <button
        *ngIf="!isStartPage()"
        [routerLink]="['/skills']"
        routerLinkActive="active"
        class="btn btnMediaQuerie"
      >
        {{ "btnSkills" | translate }}
      </button>
      <button
        *ngIf="!isStartPage()"
        [routerLink]="['/projects']"
        routerLinkActive="active"
        class="btn btnMediaQuerie"
      >
        {{ "btnProjects" | translate }}
      </button>
      <button
        *ngIf="!isStartPage()"
        [routerLink]="['/contact']"
        routerLinkActive="active"
        class="btn btnMediaQuerie"
      >
        {{ "btnConatct" | translate }}
      </button>
    </div>
  </footer>
</div>
