.page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .languageContainer {
        display: flex;
        justify-content: center;

        p {
            margin: 6px;
            cursor: pointer;
        }

        p.selected {
            font-weight: 700;
          }
    }

    .contentPage {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        height: 100px;
        z-index: 1;
    }

    .footerWithShadow {
        box-shadow: 2px 0px 8px rgba(25, 25, 25, 0.6);
      }

    .footerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 200px;
        padding-right: 200px;
        height: 70px;
    }
}

@media screen and (max-width: 1050px) { 

    .footerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 6%);
        margin-left: 3% !important;
        margin-right: 3% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        height: 70px;
    }
}