.page {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .languageContainer {
        display: flex;
        justify-content: center;

        p {
            margin: 6px;
            cursor: pointer;
        }

        p.selected {
            font-weight: 700;
          }
    }

    .contentPage {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: calc(100% - 100px);
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        height: 100px;
        z-index: 1;
    }

    .footerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 200px;
        padding-right: 200px;
        height: 100px;
        box-shadow: 2px 0px 8px rgba(25, 25, 25, 0.6);
    }
}

@media screen and (max-width: 1050px) { 

    .footerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 6%);
        margin: 0 0 0 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        height: 70px;
    }
}