<div class="container">
  <span class="headlineIcon">
    <img
      draggable="false"
      (contextmenu)="ss.preventContextMenu($event)"
      class="imgIcon"
      src="/assets/ images/skills_images/git.png"
    />
  </span>
  <div class="content">{{ "extraDescription" | translate }}</div>
  <span class="otherIcon">
    <img
      draggable="false"
      (contextmenu)="ss.preventContextMenu($event)"
      src="/assets/ images/skills_images/api.png"
    />
    <img
      draggable="false"
      (contextmenu)="ss.preventContextMenu($event)"
      src="/assets/ images/skills_images/github.png"
    />
    <img
      draggable="false"
      (contextmenu)="ss.preventContextMenu($event)"
      src="/assets/ images/skills_images/scrum.png"
    />
  </span>
</div>