<div class="cardWrapper" data-aos="fade-up-left" data-aos-duration="2000">
  <div [ngClass]="{ 'dark-mode': dm.isDark }" class="card">
    <p [ngClass]="{ 'dark-mode': dm.isDark }">
      {{ "passwordHeadline" | translate }}
    </p>
    <span class="headlineIcon">
      <img
        [ngClass]="{ 'dark-mode': dm.isDark }"
        draggable="false"
        (contextmenu)="cm.preventContextMenu($event)"
        src="/assets/ images/skills_images/python.png"
        alt=""
      />
    </span>
    <span>{{ "descriptionPassword" | translate }}</span>

    <p [ngClass]="{ 'dark-mode': dm.isDark }" class="secruityHeadline">
      {{ "secruityHeadline" | translate }}
    </p>
    <span [innerHTML]="'secruityPassword' | translate"></span>
  </div>
</div>
