<div class="container">
  <div class="slider-container">
    <div
      class="slider"
      [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
    >
      <div
        class="slide"
        *ngFor="let image of images; let i = index"
        [class.active]="i === currentIndex"
      >
        <img [src]="image" alt="Image {{ i + 1 }}" />
      </div>
    </div>
  </div>
  <div class="dots">
    <span
      class="dot"
      *ngFor="let image of images; let i = index"
      [class.active]="i === currentIndex"
      (click)="goToSlide(i)"
    ></span>
  </div>
</div>