<div class="container">
  <div class="contentProject">
    <header>
      <span class="headlineTextProj headlineProjects">{{
        ls.language()?.headlineProject3
      }}</span>
    </header>
    <div class="sectionProject">
      <img
        draggable="false"
        (contextmenu)="ss.preventContextMenu($event)"
        src="/assets/ images/etc_images/join.png"
        class="projImg"
      />
      <span class="projIcon">
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/angular.png"
        />
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/django.png"
        />
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/sql-lite.png"
        />
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/google-cloud.png"
        />
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/docker.png"
        />
      </span>
      <span class="description">{{ ls.language()?.descriptionProject3 }}</span>
    </div>
    <div class="linkSection">
      <a
        draggable="false"
        href="https://github.com/frank-bcn/join"
        target="_blank"
        class="btn btnProject"
        >GitHub
        <img draggable="false" src="/assets/ images/skills_images/github.png" />
      </a>

      <a
        draggable="false"
        href="https://join.frank-sinnigen.de/index/index.html"
        target="_blank"
        class="btn btnProject"
      >
        Live
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/etc_images/live.png"
        />
      </a>
    </div>
  </div>
</div>