<div class="container">
  <div class="contentProject">
    <span class="headlineText headlineProjects">{{
      ls.getCurrentLanguage()?.headlineProject3
    }}</span>
    <div class="imgContainer">
      <div class="imageRotator">
        <div>
          <span>
            <img src="/assets/ images/skills_images/angular-color.png"/>
            <img src="/assets/ images/skills_images/django.png"/>
            <img src="/assets/ images/skills_images/mySql.png"/>
            <img src="/assets/ images/skills_images/docker.png"/>
          </span>
        </div>
      </div>
    </div>
    <span class="description">{{
      ls.getCurrentLanguage()?.descriptionProject3
    }}</span>
    <div class="linkSection">
      <a
        href="https://github.com/frank-bcn/join"
        target="_blank"
        class="btn btnProject"
        >GitHub
        <img src="/assets/ images/skills_images/github.png" />
      </a>

      <a
        href="https://join.frank-sinnigen.de/index/index.html"
        target="_blank"
        class="btn btnProject"
      >
        Live
        <img src="/assets/ images/etc_images/live.png" />
      </a>
    </div>
  </div>
</div>
