:host {
    width: calc(100% - 8%);
    margin: 4%;
    background-color: #fffcf3;
}

.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 8%);
    height: calc(100% - 4%);
    padding: 4%;
}


/*************************************************************/
/***********************   Tap Query   ***********************/
/*************************************************************/

@media screen and (max-width: 1050px) {
    ::-webkit-scrollbar {
        display: flex !important;
    }
}