<div class="container">
  <span class="headlineIcon">
    <img
      draggable="false"
      (contextmenu)="ss.preventContextMenu($event)"
      class="imgIcon"
      src="/assets/ images/skills_images/angular.png"
    />
  </span>
  <div class="content">{{ "frontendDescription" | translate }}</div>
  <span class="otherIcon">
    <img
      draggable="false"
      (contextmenu)="ss.preventContextMenu($event)"
      src="/assets/ images/skills_images/html.png"
    />
    <img
      draggable="false"
      (contextmenu)="ss.preventContextMenu($event)"
      src="/assets/ images/skills_images/js.png"
    />
    <img
      draggable="false"
      (contextmenu)="ss.preventContextMenu($event)"
      src="/assets/ images/skills_images/css.png"
    />
  </span>
</div>
