<div [ngClass]="{ 'dark-mode': dm.isDark }" id="project" class="container">
  <div [ngClass]="{ 'dark-mode': dm.isDark }" class="folderTab">
    <span [ngClass]="{ 'dark-mode': dm.isDark }" class="headlineProject">
      <p [ngClass]="{ 'dark-mode': dm.isDark }">
        {{ "headlineProject2" | translate }}
      </p>
    </span>
  </div>
  <div [ngClass]="{ 'dark-mode': dm.isDark }" class="content">
    <span class="skillContainer">
      <img src="/assets/ images/skills_images/html.png" alt="" />
      <img src="/assets/ images/skills_images/js.png" alt="" />
      <img src="/assets/ images/skills_images/css.png" alt="" />
    </span>
    <video
      id="pollo"
      #videoElement
      src="assets/videos/pollo.mp4"
      loop
      muted
      playsinline
      class="videoElement"
    ></video>
    <span class="description">{{ "descriptionProject2" | translate }}</span>

    <div class="btnContainer">
      <button class="btn">
        <a
          [ngClass]="{ 'dark-mode': dm.isDark }"
          draggable="false"
          href="https://github.com/frank-bcn/Pokedex"
          target="_blank"
          >GitHub
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/github.png"
          />
        </a>
      </button>
      <button class="btn">
        <a
          [ngClass]="{ 'dark-mode': dm.isDark }"
          draggable="false"
          href="https://pokedex.frank-sinnigen.de/"
          target="_blank"
        >
          Live
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/etc_images/live.png"
          />
        </a>
      </button>
    </div>
  </div>
</div>