<div [ngClass]="{ 'dark-mode': dm.isDark }" id="skill" class="container">
  <span
    [ngClass]="{ 'dark-mode': dm.isDark }"
    class="headlineText"
    data-aos="fade-down"
    data-aos-duration="1500"
    >{{ "headlineSkill" | translate }}</span
  >
  <div class="containerCards">
    <app-card-frontend></app-card-frontend>
    <app-card-backend></app-card-backend>
    <app-card-extra></app-card-extra>
    <app-card-deployment></app-card-deployment>
    <app-card-hacking></app-card-hacking>
  </div>
</div>