.container {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    background-color: #fffcf3;
    padding: 0 12% 12% 12%;
    overflow: hidden;

    &.dark-mode {
        background-color: #333333;
    }

    .containerCards {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 60px;
        margin: 6% 0 0 0;

        .cardWrapper {
            display: flex;
            gap: 40px;

            .card {
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 500px;
                width: 500px;
                font-size: clamp(16px, 2vw, 24px);
                font-family: "overpass";
                color: #333333;
                font-weight: 500;
                border-radius: 12px;
                padding: 20px;
                box-shadow:
                    inset 0px 0px 0px rgba(25, 25, 25, 0.6),
                    inset 0px 0px 0px rgba(245, 245, 245, 0.1),
                    2px 2px 8px rgba(25, 25, 25, 0.6),
                    -2px -2px 8px rgba(245, 245, 245, 0.08);
                transform: perspective(500px) rotateY(-5deg);

                &.dark-mode {
                    color: #fffcf3;
                    box-shadow:
                        4px 4px 12px rgba(0, 0, 0, 0.8),
                        -4px -4px 12px rgba(255, 255, 255, 0.1);
                }

                p {
                    font-family: poppins;
                    font-size: clamp(20px, 3vw, 32px);
                    font-weight: 700;
                    color: #333333;
                    border-bottom: 2px solid #ff9900;

                    &.dark-mode {
                        color: #fffcf3;
                    }
                }

                .headlineIcon {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin: 12px 0 12px 0;

                    img {
                        height: 80px;
                        filter: drop-shadow(15px 5px 5px rgba(25, 25, 25, 0.6));

                        &.dark-mode {
                            filter: drop-shadow(15px 5px 5px rgba(25, 25, 25, 1));
                        }
                    }
                }

                span {
                    display: flex;
                    flex: 1;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    font-family: "overpass";
                    font-size: 17px;
                }

                .otherIcon {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    max-height: 50px;
                    border-radius: 8px;
                    padding: 12px;
                    margin: 12px 0 0 0;
                    box-shadow:
                        inset 0px 0px 0px rgba(25, 25, 25, 0.6),
                        inset 0px 0px 0px rgba(245, 245, 245, 0.1),
                        2px 2px 8px rgba(25, 25, 25, 0.6),
                        -2px -2px 8px rgba(245, 245, 245, 0.08);

                    img {
                        height: 40px;
                        width: 40px;
                        border-radius: 6px;
                        padding: 6px;
                        box-shadow:
                            inset 0px 0px 0px rgba(25, 25, 25, 0.6),
                            inset 0px 0px 0px rgba(245, 245, 245, 0.1),
                            2px 2px 8px rgba(25, 25, 25, 0.6),
                            -2px -2px 8px rgba(245, 245, 245, 0.08);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 972px) {
    .containerCards {
        justify-content: center !important;
    }

    .card {
        width: 100% !important;
        height: auto !important;
    }
}