.container {
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    align-items: center;
    background-color: #fffcf3;
    padding: 0 12% 18% 12%;

    .containerCards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        gap: 60px;

        .cardWrapper {
            display: flex;
            gap: 40px;

            .card {
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 500px;
                width: 300px;
                font-size: clamp(16px, 2vw, 24px);
                font-family: "overpass";
                color: #333333;
                font-weight: 500;
                border-radius: 12px;
                padding: 20px;
                box-shadow: 0px 10px 15px rgba(25, 25, 25, 0.6);
                transform: perspective(500px) rotateY(-5deg);

                .headlineIcon {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin: 12px 0 12px 0;

                    img {
                        height: 80px;
                    }
                }

                p {
                    display: flex;
                    flex: 1;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    font-family: "overpass";
                    font-size: 18px;
                }

                .otherIcon {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;

                    img {
                        height: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 972px) {

    .containerCards {
        justify-content: center!important;
    }

    .card {
        width: 100% !important;
        height: auto!important;
    }
}