.container {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    background-color: #fffcf3;
    padding: 0 12% 12% 12%;
    overflow: hidden;

    &.dark-mode {
        background-color: #333333;
    }

    .containerCards {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 60px;
        margin: 6% 0 0 0;
    }
}

@media screen and (max-width: 972px) {
    .containerCards {
        justify-content: center !important;
    }
}