<div id="skill" class="container">
  <span class="headlineText" data-aos="fade-down" data-aos-duration="1500">{{
    "headlineSkill" | translate
  }}</span>
  <div class="containerCards">
    <div class="cardWrapper" data-aos="fade-up-right" data-aos-duration="1000">
      <div class="card">
        <p>{{ "headlineFrontend" | translate }}</p>
        <span class="headlineIcon">
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/angular.png"
            alt=""
          />
        </span>
        <span>{{ "frontendDescription" | translate }}</span>
        <span class="otherIcon">
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/html.png"
          />
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/js.png"
          />
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/css.png"
          />
        </span>
      </div>
    </div>
    <div class="cardWrapper" data-aos="fade-up" data-aos-duration="1500">
      <div class="card">
        <p>{{ "headlineBackend" | translate }}</p>
        <span class="headlineIcon">
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/python.png"
            alt=""
          />
        </span>
        <span>{{ "backendDescription" | translate }}</span>

        <span class="otherIcon">
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/sql-lite.png"
          />
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/django.png"
          />
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/firebase.png"
          />
        </span>
      </div>
    </div>
    <div class="cardWrapper" data-aos="fade-up-right" data-aos-duration="2000">
      <div class="card">
        <p>{{ "headlineExtra" | translate }}</p>
        <span class="headlineIcon">
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/git.png"
            alt=""
          />
        </span>
        <span>{{ "extraDescription" | translate }}</span>

        <span class="otherIcon">
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/api.png"
          />
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/github.png"
          />
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/scrum.png"
          />
        </span>
      </div>
    </div>
    <div class="cardWrapper" data-aos="fade-up-right" data-aos-duration="2000">
      <div class="card">
        <p>{{ "headlineDeployment" | translate }}</p>
        <span class="headlineIcon">
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/linux.png"
            alt=""
          />
        </span>
        <span>{{ "deploymentDescription" | translate }}</span>
        <span class="otherIcon">
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/docker.png"
          />
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/google-cloud.png"
          />
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/aws.png"
          />
          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/azure.png"
          />

          <img
            draggable="false"
            (contextmenu)="cm.preventContextMenu($event)"
            src="/assets/ images/skills_images/ssh-white.png"
          />
        </span>
      </div>
    </div>
  </div>
</div>