:host {
  height: 100%;
  width: 100%;
  background-color: #fffcf3;
  z-index: 1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fffcf3;

  .containerImprint {
    display: flex;
    height: calc(100% - 100px);
    width: calc(100% - 200px);
    border-radius: 12px;
    z-index: 1;
    box-shadow: 0px 10px 15px rgba(#191919, 0.6);
    background-color: #fffcf3;

    .imprintContent {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      margin: 3% 0 6% 3%;
    }

    .containerProfile {
      display: flex;
      align-items: center;
    }

    .containerText {
      display: flex;
      margin-bottom: 10px;
      font-size: 2vh;
    }

    h1 {
      display: flex;
      font-size: 3vh;
    }

    h2 {
      display: flex;
      font-size: 2vh;
    }

    .text {
      display: flex;
      margin-left: 10px;
      font-size: 2vh;
      margin-bottom: 10px;
    }

    .textImpressum {
      display: flex;
      font-size: 15px;
    }

    a {
      display: flex;
      margin-left: 10px;
    }
  }
}

/*************************************************************/
/***********************   Tap Query   ***********************/
/*************************************************************/
@media screen and (max-width: 1050px) {
  .containerImprint {
    margin-left: 3% !important;
    margin-right: 3% !important;
    width: calc(100% - 6%) !important;
    height: calc(100% - 10%) !important;

    .container {
      display: flex;
      flex-direction: column;
      background-color: #fffcf3;
      margin-left: 3% !important;
      margin-right: 3% !important;
      flex: 1;
      width: calc(100% - 6%) !important;
    }
  }
}