* {
    margin: 0;
    padding: 0;
    background-color: #fffcf3;
    font-family: Syne;
}

.scroll-container {
    overflow: auto;
    scrollbar-width: none; 
  }
  
  ::-webkit-scrollbar {
    display: none;
  }