* {
  margin: 0;
  padding: 0;
  font-family: Syne;
}

.scroll-container {
  overflow: auto;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  padding: 15px;
  margin: 3%;
  border-radius: 9px;
  transition: 300ms ease;
  border: none;
  background-color: transparent;
  color: #333333;
  font-weight: 900;
  cursor: pointer;
  box-shadow:
    inset 0px 0px 0px rgba(25, 25, 25, 0.6),
    inset 0px 0px 0px rgba(245, 245, 245, 0.1),
    2px 2px 8px rgba(25, 25, 25, 0.6),
    -2px -2px 8px rgba(245, 245, 245, 0.08);

    &.dark-mode {
      color: #fffcf3;
    }

  &:hover,
  &.active {
    box-shadow:
      inset 2px 2px 8px rgba(25, 25, 25, 0.6),
      inset -2px -2px 8px rgba(245, 245, 245, 0.1);
  }

 
}

.headlineText {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-size: clamp(24px, 3.5vw, 58px);
  font-weight: 800;
  font-family: "syne";
  color: #333333;

  &.dark-mode {
    color: #fffcf3;
  }
}

.headlineProject {
  display: flex;
 padding: 0 0 0 24px;
  width: 100%;
  height: 80%;
  justify-content: start;
  align-items: center;
  font-size: clamp(18px, 1vw, 32px);
  font-weight: 800;
  font-family: "syne";
  color: #fffcf3;

  &.dark-mode {
    color: #333333;
  }
}
