<div class="cardWrapper" data-aos="fade-up-right" data-aos-duration="1000">
    <div [ngClass]="{ 'dark-mode': dm.isDark }" class="card">
      <p [ngClass]="{ 'dark-mode': dm.isDark }">
        {{ "headlineFrontend" | translate }}
      </p>
      <span class="headlineIcon">
        <img
          [ngClass]="{ 'dark-mode': dm.isDark }"
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/skills_images/angular.png"
          alt=""
        />
      </span>

      <span [innerHTML]="'frontendDescription' | translate"></span>

      <span class="otherIcon">
        <img
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/skills_images/html.png"
        />
        <img
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/skills_images/js.png"
        />
        <img
          draggable="false"
          (contextmenu)="cm.preventContextMenu($event)"
          src="/assets/ images/skills_images/css.png"
        />
      </span>
    </div>
  </div>