<div class="socialContainer">
  <button class="btn">
    <a href="mailto:info@frank-sinnigen.de" target="_blank"
      ><img src="/assets/ images/etc_images/mail.png" alt="" />
    </a>
  </button>
  <button class="btn">
    <a
      [ngClass]="{ 'dark-mode': dm.isDark }"
      draggable="false"
      href="https://www.linkedin.com/in/frank-sinnigen/"
      target="_blank"
    >
      <img
        draggable="false"
        (contextmenu)="cm.preventContextMenu($event)"
        src="/assets/ images/etc_images/linkedIn.png"
      />
    </a>
  </button>
  <button class="btn">
    <a
      [ngClass]="{ 'dark-mode': dm.isDark }"
      draggable="false"
      href="https://tryhackme.com/p/RootGuardian"
      target="_blank"
    >
      <img
        draggable="false"
        (contextmenu)="cm.preventContextMenu($event)"
        src="/assets/ images/skills_images/tryhackme.png"
      />
    </a>
  </button>
  <button class="btn">
    <a
      [ngClass]="{ 'dark-mode': dm.isDark }"
      draggable="false"
      href="https://github.com/frank-bcn"
      target="_blank"
    >
      <img
        draggable="false"
        (contextmenu)="cm.preventContextMenu($event)"
        src="/assets/ images/skills_images/github.png"
      />
    </a>
  </button>
</div>