<div class="container">
  <div class="contentProject">
    <header>
      <span class="headlineTextProj headlineProjects">{{
        "headlineProject4" | translate
      }}</span>
    </header>
    <div class="sectionProject">
      <img
        draggable="false"
        (contextmenu)="ss.preventContextMenu($event)"
        src="/assets/ images/etc_images/streamify.png"
        class="projImg"
      /> 
      <!-- <span class="projIcon">
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/angular.png"
        />
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/django.png"
        />
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/sql-lite.png"
        />
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/google-cloud.png"
        />
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/skills_images/docker.png"
        />
      </span>  -->
      <span class="description">{{ "descriptionProject4" | translate }}</span>
      <!-- Durch den Einsatz von Redis als In-Memory-Datenbank (Arbeitsspeicher) konnte ich schnelle und effiziente Datenverarbeitungen und -speicherungen erreichen. -->
    </div>
    <div class="linkSection">
      <!-- <a
        draggable="false"
        href=""
        target="_blank"
        class="btn btnProject"
        >GitHub
        <img draggable="false" src="/assets/ images/skills_images/github.png" />
      </a>

      <a
        draggable="false"
        href=""
        target="_blank"
        class="btn btnProject"
      >
        Live
        <img
          draggable="false"
          (contextmenu)="ss.preventContextMenu($event)"
          src="/assets/ images/etc_images/live.png"
        />
      </a> -->
    </div>
  </div>
</div>
